.nav{
    z-index: 20;
    padding: 0px 30px;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: .5px solid $color-white;
    position: sticky;
    right: 0;
    top: 0;
    background-color: #fff;
    &-logo{
        display: flex;
        align-items: center;
        &-img{
            width: 38px;
            border-radius: 8px;
        }
        &-heading{
            font-weight: 700;
            font-size: 14px;
            line-height: 1.4;
            color: $color-black;
            margin-left: 16px;
        }
    }
    &-body{
        display: flex;
        border: 2px solid #e8e8e8;
        border-radius: 20px;
        flex: 1 1;
        height: 40px;
        padding: 0 16px 0 8px;
        transition: border-color .2s ease-in-out;
        width: 400px;
        &-search{
            width: 40px;
            text-align: center;
            line-height: 2.3;
            padding-right: 10px;
        }
        &-input{
            border: none;
            width: 100%;
        }
        &-icon{
            color: $color-gray;
        }
        &-icon:hover{
            color: $color-brown;
        }
    }
    &-body:focus-within{
        border-color: $color-brown;
    }
    &-action{
        display: flex;
        align-items: center;
        gap: 0 16px;
        &-my-courses{
            color: $color-brown;
            font-weight: 600;
            cursor: pointer;
            font-size: 14px;
        }
        &-nofi{
            font-size: 18px;
            color: $color-gray;
        }
        &-avatar{
            width: 28px;
            border-radius: 50%;
        }
    }
    &-progress{
        display: flex;
        align-items: center;
        padding-left: 5px;
        &-completed{
            padding-left: 8px;
            color: #fff;
            font-size: 13px;
            font-weight: 400;
            strong{
                font-weight: 600;
            }
        }
    }
}