@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');

$font-primary: 'Montserrat', sans-serif;
$color-black : #000;
$color-white: #e8e8e8;
$color-gray: #888888;
$color-brown: #333;
$color-blue: #1473e6;
$color-orange: #f05123;