<div class="nav">
  <div class="nav-logo">
    <a href="http://localhost:3000/">
      <img
        class="nav-logo-img"
        src="https://fullstack.edu.vn/static/media/f8-icon.18cd71cfcfa33566a22b.png"
        alt=""
      />
    </a>
    <h4 class="nav-logo-heading">Học Lập Trình Để Đi Làm</h4>
  </div>
  <div class="d-inline-block w-400px">
    <div class="nav-body">
      <div class="nav-body-search">
        <a href="#" style="color: rgb(125,125,125);"><i
            class="fa-solid fa-magnifying-glass"
          ></i></a>
      </div>
      <input
        type="text"
        class="nav-body-input"
        placeholder="Tìm kiếm khoá học, bài viết, video,..."
      />
    </div>
  </div>
  <div class="nav-action">
    {{#if user}}
      <a href="#" class="nav-action-my-courses">Khoá học của tôi</a>
      <a href="#"><i class="fa-solid fa-bell nav-action-nofi"></i></a>
      <div class="p-realative">
        <a onclick="showUserMenu()"><img
            src="/{{user.avatar}}"
            class="nav-action-avatar hide"
            alt=""
            id="user-img"
          /></a>
        <ul class="nav-list d-none" id="user-menu">
          <li class="nav-list-item d-flex space-between align-center">
            <img src="/{{user.avatar}}" class="nav-list-img" alt="" />
            <div class="nav-list-userInfo">
              <h3 class="nav-list-name">Nguyễn Đôn Phước</h3>
              <p class="nav-list-username">@nguyendonphuoc</p>
            </div>
          </li>
          <hr />
          <li class="nav-list-item">
            <a href="/profile/@{{user.slug}}">Trang cá nhân</a>
          </li>
          <hr />
          <li class="nav-list-item">
            <a href="#">Viết blog</a>
          </li>
          <li class="nav-list-item">
            <a href="#">Bài viết của tôi</a>
          </li>
          <hr />
          <li class="nav-list-item">
            <a href="#">Bài viết đã lưu</a>
          </li>
          <hr />
          <li class="nav-list-item">
            <a href="/profile/settings">Cài đặt</a>
          </li>
          <li class="nav-list-item">
            <a href="#" onclick="logOut()">Đăng xuất</a>
          </li>
        </ul>
      </div>
    {{else}}
      <a href="./auth/login" class="nav-action-loginBtn">Đăng nhập</a>
    {{/if}}
  </div>
</div>