    <div class="nav bg-nav-dark border-none">
        <div class="nav-logo">
            <a href="#"><i class="fa-solid fa-chevron-left color-white" style="padding-right: 25px;"></i></a>
            <a href="#">
                <img class="nav-logo-img"
                    src="https://static.fullstack.edu.vn/static/media/f8-icon.7ad2b161d5e80c87e516.png" alt="">
            </a>
            <h4 class="nav-logo-heading color-white">Học Lập Trình Để Đi Làm</h4>
        </div>
        <div class="nav-action">
            <div class="nav-progress">
                <span class="chart" data-percent="50">
                    <span class="chart-percent">87%</span>
                </span>
                <p class="nav-progress-completed"><strong>1/10</strong> bài học</p>
            </div>
            <div class="nav-progress">
                <i class="fa-solid fa-note-sticky color-white"></i>
                <p class="nav-progress-completed">Ghi chú</p>
            </div>
            <div class="nav-progress">
                <i class="fa-solid fa-circle-question color-white"></i>
                <p class="nav-progress-completed">Hướng dẫn</p>
            </div>

        </div>
    </div>