<div class="body" style="display: flex;min-height: 100px;">
    <div class="slider-wrapper">
        <div class="slider">
            <div class="slider-button">
                <i class="fa-solid fa-plus slider-icon"></i>
            </div>
            <ul class="slider-list pt-5px">
                <li><a href="/" class="slider-item home-active"><i class="fa-solid fa-house"></i><span>Home</span></i></a></li>
                <li><a href="/learning-paths" class="slider-item"><i class="fa-solid fa-road"></i><span>Lộ trình</span></i></a>
                </li>
                <li><a href="#" class="slider-item"><i class="fa-solid fa-lightbulb"></i><span>Học</span></i></a>
                </li>
                <li><a href="#" class="slider-item"><i class="fa-solid fa-newspaper"></i><span>Blog</span></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="content">
        <div class="banner-slider">
            <div class="banner-item banner-color-1">
                <div class="banner-item-left">
                    <h4 class="banner-heading">
                        Học ReactJS miễn phí!
                    </h4>
                    <p class="banner-desc">
                        Khóa học ReactJS từ cơ bản tới nâng cao. Kết quả của khóa học này là bạn có thể làm hầu
                        hết các dự án thường gặp với ReactJS.
                    </p>
                    <a href="#" class="banner-btn">Đăng ký ngay</a>
                </div>
                <div class="slider-item-right">
                    <a href="#"><img src="https://files.fullstack.edu.vn/f8-prod/banners/Banner_web_ReactJS.png" alt=""
                            class="slider-img"></a>
                </div>
            </div>
            <div class="banner-item banner-color-2">
                <div class="banner-item-left ">
                    <h4 class="banner-heading">
                        Thành Quả của Học Viên
                    </h4>
                    <p class="banner-desc">
                        Để đạt được kết quả tốt trong mọi việc ta cần xác định mục tiêu rõ ràng cho việc đó. Học lập trình cũng không là ngoại lệ.
                    </p>
                    <a href="https://fullstack.edu.vn/blog/tong-hop-cac-san-pham-cua-hoc-vien-tai-f8.html" class="banner-btn">Xem thành quả</a>
                </div>
                <div class="slider-item-right">
                    <a href="#"><img src="https://files.fullstack.edu.vn/f8-prod/banners/Banner_01_2.png" alt=""
                            class="slider-img"></a>
                </div>
            </div>
            <div class="banner-item banner-color-3">
                <div class="banner-item-left">
                    <h4 class="banner-heading">
                        F8 trên Youtube
                    </h4>
                    <p class="banner-desc">
F8 được nhắc tới ở mọi nơi, ở đâu có cơ hội việc làm cho nghề IT và có những con người yêu thích lập trình F8 sẽ ở đó.                    </p>
                    <a href="https://www.youtube.com/channel/UCNSCWwgW-rwmoE3Yc4WmJhw" class="banner-btn">Truy cập kênh</a>
                </div>
                <div class="slider-item-right">
                    <a href="#"><img src="https://files.fullstack.edu.vn/f8-prod/banners/Banner_03_youtube.png" alt=""
                            class="slider-img"></a>
                </div>
            </div>
            <div class="banner-item banner-color-4">
                <div class="banner-item-left">
                    <h4 class="banner-heading">
F8 trên Facebook
                    </h4>
                    <p class="banner-desc">
F8 được nhắc tới ở mọi nơi, ở đâu có cơ hội việc làm cho nghề IT và có những con người yêu thích lập trình F8 sẽ ở đó.                    </p>
                    <a href="https://www.facebook.com/groups/649972919142215" class="banner-btn">Truy cập nhóm</a>
                </div>
                <div class="slider-item-right">
                    <a href="#"><img src="https://files.fullstack.edu.vn/f8-prod/banners/Banner_04_2.png" alt=""
                            class="slider-img"></a>
                </div>
            </div>
        </div>
        <div class="section">
            <div class="container">
                <div class="road-front-end">
                    <div class="section-intro">
                        <a href="#" class="section-heading">Lộ trình học Front-end <span>Mới</span></a>
                        <a href="#" class="section-detail">Xem chi tiết <i class="fa-solid fa-angle-right"></i></a>
                    </div>
                    <div class="section-list">
                        {{#each courses}}
                            {{{isTypeHome this 1}}}
                        {{/each}}
                    </div>
                </div>
                <div class="road-back-end">
                    <div class="section-intro">
                        <a href="#" class="section-heading">Lộ trình học Back-end <span>Mới</span></a>
                        <a href="#" class="section-detail">Xem chi tiết <i class="fa-solid fa-angle-right"></i></a>
                    </div>
                    <div class="section-list">
                        {{#each courses}}
                            {{{isTypeHome this 2}}}
                        {{/each}}
                    </div>
                </div>
                <div class="featured-posts">
                    <div class="section-intro">
                        <a href="#" class="section-heading">Bài viết nổi bật</a>
                        <a href="#" class="section-detail">Xem chi tiết <i class="fa-solid fa-angle-right"></i></a>
                    </div>
                    <div class="section-list">
                        <div class="section-item">
                            <a title="Kiến Thức Nhập Môn IT" href="#" class="section-img" style="background-image: url('https://files.fullstack.edu.vn/f8-prod/blog_posts/65/6139fe28a9844.png');">
                                <button class="section-watch">Xem bài viết</button>
                            </a>
                            <div class="section-name">Kiến thức nhập môn IT</div>
                            <div class="section-count">
                                <i class="fa-solid fa-users"></i>
                                <span>70.000</span>
                            </div>
                        </div>
                        <div class="section-item">
                            <a title="Kiến Thức Nhập Môn IT" href="#" class="section-img" style="background-image: url('https://files.fullstack.edu.vn/f8-prod/blog_posts/279/6153f692d366e.jpg');">
                                <button class="section-watch">Xem bài viết</button>
                            </a>
                            <div class="section-name">Kiến thức nhập môn IT</div>
                            <div class="section-count">
                                <i class="fa-solid fa-users"></i>
                                <span>70.000</span>
                            </div>
                        </div>
                        <div class="section-item">
                            <a title="Kiến Thức Nhập Môn IT" href="#" class="section-img" style="background-image: url('https://files.fullstack.edu.vn/f8-prod/blog_posts/51/6139c6453456e.png');">
                                <button class="section-watch">Xem bài viết</button>
                            </a>
                            <div class="section-name">Kiến thức nhập môn IT</div>
                            <div class="section-count">
                                <i class="fa-solid fa-users"></i>
                                <span>70.000</span>
                            </div>
                        </div>
                        <div class="section-item">
                            <a title="Kiến Thức Nhập Môn IT" href="#" class="section-img" style="background-image: url('https://files.fullstack.edu.vn/f8-prod/blog_posts/107/613a1f3685814.png');">
                                <button class="section-watch">Xem bài viết</button>
                            </a>
                            <div class="section-name">Kiến thức nhập môn IT</div>
                            <div class="section-count">
                                <i class="fa-solid fa-users"></i>
                                <span>70.000</span>
                            </div>
                        </div>
                        <div class="section-item">
                            <a title="Kiến Thức Nhập Môn IT" href="#" class="section-img" style="background-image: url('https://files.fullstack.edu.vn/f8-prod/blog_posts/1671/61b6368983c16.jpg');">
                                <button class="section-watch">Xem bài viết</button>
                            </a>
                            <div class="section-name">Kiến thức nhập môn IT</div>
                            <div class="section-count">
                                <i class="fa-solid fa-users"></i>
                                <span>70.000</span>
                            </div>
                        </div>
                        <div class="section-item">
                            <a title="Kiến Thức Nhập Môn IT" href="#" class="section-img" style="background-image: url('https://files.fullstack.edu.vn/f8-prod/blog_posts/677/615436b218d0a.png');">
                                <button class="section-watch">Xem bài viết</button>
                            </a>
                            <div class="section-name">Kiến thức nhập môn IT</div>
                            <div class="section-count">
                                <i class="fa-solid fa-users"></i>
                                <span>70.000</span>
                            </div>
                        </div>
                        <div class="section-item">
                            <a title="Kiến Thức Nhập Môn IT" href="#" class="section-img" style="background-image: url('https://files.fullstack.edu.vn/f8-prod/blog_posts/273/614043e523ad9.png');">
                                <button class="section-watch">Xem bài viết</button>
                            </a>
                            <div class="section-name">Kiến thức nhập môn IT</div>
                            <div class="section-count">
                                <i class="fa-solid fa-users"></i>
                                <span>70.000</span>
                            </div>
                        </div>
                        <div class="section-item">
                            <a title="Kiến Thức Nhập Môn IT" href="#" class="section-img" style="background-image: url('https://files.fullstack.edu.vn/f8-prod/blog_posts/791/615de64de7e8f.jpg');">
                                <button class="section-watch">Xem bài viết</button>
                            </a>
                            <div class="section-name">Kiến thức nhập môn IT</div>
                            <div class="section-count">
                                <i class="fa-solid fa-users"></i>
                                <span>70.000</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="featured-videos">
                    <div class="section-intro">
                        <a href="#" class="section-heading">Videos nổi bật</a>
                        <a href="#" class="section-detail">Xem chi tiết <i class="fa-solid fa-angle-right"></i></a>
                    </div>
                    <div class="section-list">
                        <div class="section-item">
                            <a title="Kiến Thức Nhập Môn IT" href="#" class="section-img" style="background-image: url('https://i.ytimg.com/vi/sgq7BH6WxL8/maxresdefault.jpg');">
                                <button class="section-watch" style="left: 26% !important;">Xem video</button>
                            </a>
                            <div class="section-name">Kiến thức nhập môn IT</div>
                            <div class="section-count">
                                <i class="fa-solid fa-users"></i>
                                <span>70.000</span>
                            </div>
                        </div>
                        <div class="section-item">
                            <a title="Kiến Thức Nhập Môn IT" href="#" class="section-img" style="background-image: url('https://i.ytimg.com/vi/YH-E4Y3EaT4/maxresdefault.jpg');">
                                <button class="section-watch" style="left: 26% !important;">Xem video</button>
                            </a>
                            <div class="section-name">Kiến thức nhập môn IT</div>
                            <div class="section-count">
                                <i class="fa-solid fa-users"></i>
                                <span>70.000</span>
                            </div>
                        </div>
                        <div class="section-item">
                            <a title="Kiến Thức Nhập Môn IT" href="#" class="section-img" style="background-image: url('https://i.ytimg.com/vi/DpvYHLUiZpc/maxresdefault.jpg');">
                                <button class="section-watch" style="left: 26% !important;">Xem video</button>
                            </a>
                            <div class="section-name">Kiến thức nhập môn IT</div>
                            <div class="section-count">
                                <i class="fa-solid fa-users"></i>
                                <span>70.000</span>
                            </div>
                        </div>
                        <div class="section-item">
                            <a title="Kiến Thức Nhập Môn IT" href="#" class="section-img" style="background-image: url('https://i.ytimg.com/vi/oF7isq9IjZM/maxresdefault.jpg');">
                                <button class="section-watch" style="left: 26% !important;">Xem video</button>
                            </a>
                            <div class="section-name">Kiến thức nhập môn IT</div>
                            <div class="section-count">
                                <i class="fa-solid fa-users"></i>
                                <span>70.000</span>
                            </div>
                        </div>
                        <div class="section-item">
                            <a title="Kiến Thức Nhập Môn IT" href="#" class="section-img" style="background-image: url('https://i.ytimg.com/vi/R6plN3FvzFY/maxresdefault.jpg');">
                                <button class="section-watch" style="left: 26% !important;">Xem video</button>
                            </a>
                            <div class="section-name">Kiến thức nhập môn IT</div>
                            <div class="section-count">
                                <i class="fa-solid fa-users"></i>
                                <span>70.000</span>
                            </div>
                        </div>
                        <div class="section-item">
                            <a title="Kiến Thức Nhập Môn IT" href="#" class="section-img" style="background-image: url('https://i.ytimg.com/vi/x0fSBAgBrOQ/maxresdefault.jpg');">
                                <button class="section-watch" style="left: 26% !important;">Xem video</button>
                            </a>
                            <div class="section-name">Kiến thức nhập môn IT</div>
                            <div class="section-count">
                                <i class="fa-solid fa-users"></i>
                                <span>70.000</span>
                            </div>
                        </div>
                        <div class="section-item">
                            <a title="Kiến Thức Nhập Môn IT" href="#" class="section-img" style="background-image: url('https://i.ytimg.com/vi/0SJE9dYdpps/maxresdefault.jpg');">
                                <button class="section-watch" style="left: 26% !important;">Xem video</button>
                            </a>
                            <div class="section-name">Kiến thức nhập môn IT</div>
                            <div class="section-count">
                                <i class="fa-solid fa-users"></i>
                                <span>70.000</span>
                            </div>
                        </div>
                        <div class="section-item">
                            <a title="Kiến Thức Nhập Môn IT" href="#" class="section-img" style="background-image: url('https://i.ytimg.com/vi/ZGmpvhqYSDU/maxresdefault.jpg');">
                                <button class="section-watch" style="left: 26% !important;">Xem video</button>
                            </a>
                            <div class="section-name">Kiến thức nhập môn IT</div>
                            <div class="section-count">
                                <i class="fa-solid fa-users"></i>
                                <span>70.000</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>