<div class="learn">
  <div class="learn-content">
    <div class="learn-video">
      <iframe
        width="699"
        height="393"
        src="https://www.youtube.com/embed/OuNo8Tkb3lI"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
    <div class="learn-content-container">
      <div class="learn-content-header">
        <div class="learn-content-header-left">
          <h3 class="learn-content-heading">Mô hình Client - Server là gì?</h3>
          <p class="learn-content-date">Cập nhật tháng 2 năm 2022</p>
        </div>
        <div class="learn-content-header-right">
          <button class="learn-content-note"><i class="fa-solid fa-plus"></i>
            Thêm ghi chú</button>
        </div>
      </div>
      <div class="learn-content-markDown">
        <p>Tham gia nhóm Học lập trình tại F8 trên Facebook để cùng nhau trao
          đổi trong quá trình học tập ❤️</p>
        <p>Các bạn subscribe kênh Youtube F8 Official để nhận thông báo khi có
          các bài học mới nhé ❤️</p>
      </div>
    </div>
    <p class="learn-content-makeBy">Make by Phước ❤️</p>
  </div>
  <div class="learn-track">
    <div class="learn-container">
      <h3 class="learn-track-heading">
        Nội dung khoá học
      </h3>
      <div class="learn-track-body">
        <div class="learn-track-item">
          <div class="learn-track-item-heading">
            <h3 class="learn-track-item-title">1. Khái niệm kỹ thuật cần biết<i
                class="fa-solid fa-angle-down"
                id="icon1"
              ></i></h3>
            <span class="learn-track-item-desc">1/2 | 22:09</span>
          </div>
          <div class="learn-track-stepList d-none" id="item1">
            <div class="learn-track-stepList-item">
              <div class="learn-track-stepList-item-info">
                <h3 class="learn-track-stepList-item-title">1. Mô hình Client -
                  Server là gì?
                  <i class="fa-solid fa-circle-check"></i></h3>
                <p class="learn-track-stepList-item-desc">
                  <i class="fa-solid fa-circle-play"></i>
                  11.35
                </p>
              </div>
            </div>
            <div class="learn-track-stepList-item">
              <div class="learn-track-stepList-item-info">
                <h3 class="learn-track-stepList-item-title">1. Mô hình Client -
                  Server là gì?
                  <i class="fa-solid fa-circle-check"></i></h3>
                <p class="learn-track-stepList-item-desc">
                  <i class="fa-solid fa-circle-play"></i>
                  11.35
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="learn-track-item">
          <div class="learn-track-item-heading">
            <h3 class="learn-track-item-title">1. Khái niệm kỹ thuật cần biết<i
                class="fa-solid fa-angle-down"
                id="icon2"
              ></i></h3>
            <span class="learn-track-item-desc">1/2 | 22:09</span>
          </div>
          <div class="learn-track-stepList d-none" id="item2">
            <div class="learn-track-stepList-item">
              <div class="learn-track-stepList-item-info">
                <h3 class="learn-track-stepList-item-title">1. Mô hình Client -
                  Server là gì?
                  <i class="fa-solid fa-circle-check"></i></h3>
                <p class="learn-track-stepList-item-desc">
                  <i class="fa-solid fa-circle-play"></i>
                  11.35
                </p>
              </div>
            </div>
            <div class="learn-track-stepList-item">
              <div class="learn-track-stepList-item-info">
                <h3 class="learn-track-stepList-item-title">1. Mô hình Client -
                  Server là gì?
                  <i class="fa-solid fa-circle-check"></i></h3>
                <p class="learn-track-stepList-item-desc">
                  <i class="fa-solid fa-circle-play"></i>
                  11.35
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>