<div class="body" style="display: flex;min-height: 100px;">
    <div class="slider-wrapper">
        <div class="slider">
            <div class="slider-button">
                <i class="fa-solid fa-plus slider-icon"></i>
            </div>
            <ul class="slider-list pt-5px">
                <li><a href="/" class="slider-item"><i class="fa-solid fa-house"></i><span>Home</span></i></a>
                </li>
                <li><a href="/learning-paths" class="slider-item  home-active"><i class="fa-solid fa-road"></i><span>Lộ trình</span></i></a>
                </li>
                <li><a href="#" class="slider-item"><i class="fa-solid fa-lightbulb"></i><span>Học</span></i></a>
                </li>
                <li><a href="#" class="slider-item"><i class="fa-solid fa-newspaper"></i><span>Blog</span></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="learningPath w-70">
        <h1 class="learningPath-heading">Lộ trình học Front-end</h1>
        <div class="learningPath-desc mtb-15px">
            <p>Hầu hết các websites hoặc ứng dụng di động đều có 2 phần là Front-end và Back-end. Front-end là phần giao diện người dùng nhìn thấy và có thể tương tác, đó chính là các ứng dụng mobile hay những website bạn đã từng sử dụng. Vì vậy, nhiệm vụ của lập trình viên Front-end là xây dựng các giao diện đẹp, dễ sử dụng và tối ưu trải nghiệm người dùng.</p>
            <p>Tại Việt Nam, lương trung bình cho lập trình viên front-end vào khoảng 16.000.000đ / tháng.</p>
            <p>Dưới đây là các khóa học F8 đã tạo ra dành cho bất cứ ai theo đuổi sự nghiệp trở thành một lập trình viên Front-end.</p>
        </div>
        <div class="learningPath-details-list">
            <div class="learningPath-details-item">
                <h2 class="learningPath-contact-heading">2. HTML và CSS</h2>
                <p class="learningPath-contact-desc fz-14px">Để học web Front-end chúng ta luôn bắt đầu với ngôn ngữ HTML và CSS, đây là 2 ngôn ngữ có mặt trong mọi website trên internet. Trong khóa học này F8 sẽ chia sẻ từ những kiến thức cơ bản nhất. Sau khóa học này bạn sẽ tự làm được 2 giao diện websites là The Band và Shopee.</p>
                <div class="learningPath-item w-100 gap-20px flex-direction-unset">
                    <div class="learningPath-details-item-img learningPath-global-img">
                        <img src="https://files.fullstack.edu.vn/f8-prod/courses/7.png" alt="">
                    </div>
                    <div class="learningPath-details-item-content">
                        <h2 class="learningPath-details-heading">Kiến Thức Nhập Môn IT</h2>
                        <p class="learningPath-details-desc mb-15px">Để có cái nhìn tổng quan về ngành IT - Lập trình web các bạn nên xem các videos tại khóa này trước nhé.</p>
                        <a href="" class="learningPath-btn">Tiếp tục học</a>
                    </div>
                </div>
            </div>
            <div class="learningPath-details-item">
                <h2 class="learningPath-contact-heading">1. Tìm hiểu về ngành IT</h2>
                <p class="learningPath-contact-desc fz-14px">Để theo ngành IT - Phần mềm cần rèn luyện những kỹ năng nào? Bạn đã có sẵn tố chất phù hợp với ngành chưa? Cùng thăm quan các công ty IT và tìm hiểu về văn hóa, tác phong làm việc của ngành này nhé các bạn.</p>
                <div class="learningPath-item w-100 gap-20px flex-direction-unset">
                    <div class="learningPath-details-item-img learningPath-global-img">
                        <img src="https://files.fullstack.edu.vn/f8-prod/courses/7.png" alt="">
                    </div>
                    <div class="learningPath-details-item-content">
                        <h2 class="learningPath-details-heading">Kiến Thức Nhập Môn IT</h2>
                        <p class="learningPath-details-desc mb-15px">Để có cái nhìn tổng quan về ngành IT - Lập trình web các bạn nên xem các videos tại khóa này trước nhé.</p>
                        <a href="" class="learningPath-btn">Tiếp tục học</a>
                    </div>
                </div>
            </div>
            <div class="learningPath-details-item">
                <h2 class="learningPath-contact-heading">1. Tìm hiểu về ngành IT</h2>
                <p class="learningPath-contact-desc fz-14px">Để theo ngành IT - Phần mềm cần rèn luyện những kỹ năng nào? Bạn đã có sẵn tố chất phù hợp với ngành chưa? Cùng thăm quan các công ty IT và tìm hiểu về văn hóa, tác phong làm việc của ngành này nhé các bạn.</p>
                <div class="learningPath-item w-100 gap-20px flex-direction-unset">
                    <div class="learningPath-details-item-img learningPath-global-img">
                        <img src="https://files.fullstack.edu.vn/f8-prod/courses/7.png" alt="">
                    </div>
                    <div class="learningPath-details-item-content">
                        <h2 class="learningPath-details-heading">Kiến Thức Nhập Môn IT</h2>
                        <p class="learningPath-details-desc mb-15px">Để có cái nhìn tổng quan về ngành IT - Lập trình web các bạn nên xem các videos tại khóa này trước nhé.</p>
                        <a href="" class="learningPath-btn">Tiếp tục học</a>
                    </div>
                </div>
            </div>
            <div class="learningPath-details-item">
                <h2 class="learningPath-contact-heading">1. Tìm hiểu về ngành IT</h2>
                <p class="learningPath-contact-desc fz-14px">Để theo ngành IT - Phần mềm cần rèn luyện những kỹ năng nào? Bạn đã có sẵn tố chất phù hợp với ngành chưa? Cùng thăm quan các công ty IT và tìm hiểu về văn hóa, tác phong làm việc của ngành này nhé các bạn.</p>
                <div class="learningPath-item w-100 gap-20px flex-direction-unset">
                    <div class="learningPath-details-item-img learningPath-global-img">
                        <img src="https://files.fullstack.edu.vn/f8-prod/courses/7.png" alt="">
                    </div>
                    <div class="learningPath-details-item-content">
                        <h2 class="learningPath-details-heading">Kiến Thức Nhập Môn IT</h2>
                        <p class="learningPath-details-desc mb-15px">Để có cái nhìn tổng quan về ngành IT - Lập trình web các bạn nên xem các videos tại khóa này trước nhé.</p>
                        <a href="" class="learningPath-btn">Tiếp tục học</a>
                    </div>
                </div>
            </div>
            <div class="learningPath-details-item">
                <h2 class="learningPath-contact-heading">1. Tìm hiểu về ngành IT</h2>
                <p class="learningPath-contact-desc fz-14px">Để theo ngành IT - Phần mềm cần rèn luyện những kỹ năng nào? Bạn đã có sẵn tố chất phù hợp với ngành chưa? Cùng thăm quan các công ty IT và tìm hiểu về văn hóa, tác phong làm việc của ngành này nhé các bạn.</p>
                <div class="learningPath-item w-100 gap-20px flex-direction-unset">
                    <div class="learningPath-details-item-img learningPath-global-img">
                        <img src="https://files.fullstack.edu.vn/f8-prod/courses/7.png" alt="">
                    </div>
                    <div class="learningPath-details-item-content">
                        <h2 class="learningPath-details-heading">Kiến Thức Nhập Môn IT</h2>
                        <p class="learningPath-details-desc mb-15px">Để có cái nhìn tổng quan về ngành IT - Lập trình web các bạn nên xem các videos tại khóa này trước nhé.</p>
                        <a href="" class="learningPath-btn">Tiếp tục học</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>