<div class="body" style="display: flex;min-height: 100px;">
    <div class="slider-wrapper">
        <div class="slider">
            <div class="slider-button">
                <i class="fa-solid fa-plus slider-icon"></i>
            </div>
            <ul class="slider-list pt-5px">
                <li><a href="/" class="slider-item"><i class="fa-solid fa-house"></i><span>Home</span></i></a>
                </li>
                <li><a href="/learning-paths" class="slider-item  home-active"><i class="fa-solid fa-road"></i><span>Lộ trình</span></i></a>
                </li>
                <li><a href="#" class="slider-item"><i class="fa-solid fa-lightbulb"></i><span>Học</span></i></a>
                </li>
                <li><a href="#" class="slider-item"><i class="fa-solid fa-newspaper"></i><span>Blog</span></i></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="learningPath">
        <h1 class="learningPath-heading">Lộ trình học</h1>
        <p class="learningPath-desc">Để bắt đầu một cách thuận lợi, bạn nên tập trung vào một lộ trình học. Ví dụ: Để đi
            làm với vị trí “Lập trình viên Front-end” bạn nên tập trung vào lộ trình “Front-end”.</p>
        <div class="learningPath-courses">
            <div class="learningPath-item">
                <div class="learningPath-item-wrapper">
                    <div class="learningPath-item-content">
                        <h2 class="learningPath-item-heading">Lộ trình học Front-end</h2>
                        <p class="learningPath-item-desc">Lập trình viên Front-end là người xây dựng ra giao diện websites. Trong phần này F8 sẽ chia sẻ cho bạn lộ trình để trở thành lập trình viên Front-end nhé.</p>
                    </div>
                    <div class="learningPath-item-img">
                        <a href="">
                            <img src="https://files.fullstack.edu.vn/f8-prod/learning-paths/2/61a0439062b82.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="learningPath-progress">
                    {{{ handleProgressCourses courses userCourse 1}}}
                </div>
                <a class="learningPath-btn" onclick="goDetailsRoadMap('front-end-development')">Xem chi tiết</a>
            </div>
            <div class="learningPath-item">
                <div class="learningPath-item-wrapper">
                    <div class="learningPath-item-content">
                        <h2 class="learningPath-item-heading">Lộ trình học Back-end </h2>
                        <p class="learningPath-item-desc">Trái với Front-end thì lập trình viên Back-end là người làm việc với dữ liệu, công việc thường nặng tính logic hơn. Chúng ta sẽ cùng tìm hiểu thêm về lộ trình học Back-end nhé.</p>
                    </div>
                    <div class="learningPath-item-img">
                        <a href="">
                            <img src="https://files.fullstack.edu.vn/f8-prod/learning-paths/3/61a0439cc779b.png" alt="">
                        </a>
                    </div>
                </div>
                <div class="learningPath-progress">
                    {{{ handleProgressCourses courses userCourse 2}}}
                </div>
                <a class="learningPath-btn" onclick="goDetailsRoadMap('back-end-development')">Xem chi tiết</a>
            </div>
        </div>
        <div class="learningPath-contact">
            <div class="learningPath-contact-content">
                <h2 class="learningPath-contact-heading">
                    Tham gia cộng đồng học viên F8 trên Facebook
                </h2>
                <p class="learningPath-contact-desc">
                    Hàng nghìn người khác đang học lộ trình giống như bạn. Hãy tham gia hỏi đáp, chia sẻ và hỗ trợ nhau trong quá trình học nhé.
                </p>
                <a href="https://www.facebook.com/groups/f8official" class="learningPath-contact-btn">
                    Tham gia nhóm
                </a>
            </div>
            <div class="learningPath-contact-img">
                <img src="https://static.fullstack.edu.vn/static/media/fb-group-cards.4bd525b1b8baf7b1e5a2.png" alt="">
            </div>
        </div>
    </div>
</div>

<form method="get" id="form-submit-detailsCourse"></form>
<form method="get" id="form-submit-roadmap"></form>