<body style="overflow: hidden;">
    <div class="login">
        <div class="login-container">
            <div class="login-content">
                <div class="login-header">
                    <a href="#"><img class="login-logo" src="https://static.fullstack.edu.vn/static/media/f8-icon.7ad2b161d5e80c87e516.png" alt=""></a>
                    <h1 class="login-title">Đăng nhập vào F8</h1>
                </div>
                <div class="login-body">
                    <div class="login-form-body">
                        <div class="login-form-labelGroup">
                            <label class="login-form-labelGroup-left">Email</label>
                            <label class="login-form-labelGroup-right">Đăng nhập với SĐT</label>
                        </div>
                        <div class="login-form-input">
                            <input type="text" placeholder="Địa chỉ email" class="">
                            <input type="password" placeholder="Địa chỉ email">
                        </div>
                        <button class="login-btn">Đăng nhập</button>
                    </div>
                    <div style="margin-top: 50px;">
                        <div class="login-dontHaveAcc">Bạn chưa có tài khoản? <a href="#" id="signUp">Đăng ký</a></div>
                        <a href="#" class="login-forgotPassword">Quên mật khẩu?</a>
                        <div class="login-with">
                            <a href="#"><img src="/img/google-18px.svg" alt=""></a>
                            <a href="#"><img src="/img/facebook-18px.svg" alt=""></a>
                            <a href="#"><img src="/img/github-18px.svg" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="login-content p20-10 d-none">
                <div class="login-header">
                    <a href="#"><img class="login-logo" src="https://static.fullstack.edu.vn/static/media/f8-icon.7ad2b161d5e80c87e516.png" alt=""></a>
                    <h1 class="login-title m10-0">Đăng ký tài khoản F8</h1>
                </div>
                <div class="login-body">
                    <div class="login-form-body">
                        <div class="login-form-labelGroup">
                            <label class="login-form-labelGroup-left">Đăng nhập với SĐT</label>
                        </div>
                        <div class="login-form-input">
                            <input type="text" placeholder="Địa chỉ email">
                        </div>
                        <div class="login-form-labelGroup">
                            <label class="login-form-labelGroup-left">Email</label>
                            <label class="login-form-labelGroup-right">Đăng nhập với SĐT</label>
                        </div>
                        <div class="login-form-input">
                            <input type="text" placeholder="Địa chỉ email">
                        </div>
                        <div class="login-form-input">
                            <input type="text" placeholder="Địa chỉ email">
                        </div>
                        <p class="login-form-desc">Gợi ý: Mật khẩu cần có ít nhất 8 kí tự</p>
                        <div class="login-form-confirm">
                            <input class="login-form-confirm-input" placeholder="Nhập mã xác nhận">
                            <button class="login-form-confirm-btn">Gửi mã</button>
                        </div>
                        <button class="login-btn">Đăng nhập</button>
                    </div>
                    <div class="login-dontHaveAcc">Bạn đã có tài khoản? <a href="#" id="signIn">Đăng Nhập</a></div>
                </div>
            </div>
            <div class="login-about">
                <a href="#">Giới thiệu về F8</a>
                <span>|</span>
                <a href="#">F8 trên Youtube</a>
                <span>|</span>
                <a href="#">F8 trên Facebook</a>
            </div>
        </div>
    </div>
    <script src="/js/switch.login.js"></script>
</body>