<body style="overflow: hidden;">
    <div class="login">
        <div class="login-container">
            <div class="login-content">
                <div class="login-header">
                    <a href="#"><img class="login-logo" src="https://accounts.fullstack.edu.vn/assets/icon/f8_icon.png" alt=""></a>
                    <h1 class="login-title">Đăng nhập vào F8</h1>
                </div>
                <div class="login-body mt-30px">
                    <div class="login-form-body">
                        <div class="login-form-labelGroup">
                            <label class="login-form-labelGroup-left">Email</label>
                            <label class="login-form-labelGroup-right">Đăng nhập với SĐT</label>
                        </div>
                        <div class="login-form-input">
                            <input type="text" placeholder="Địa chỉ email" id="email">
                            <input type="password" placeholder="Mật khẩu" id="password">
                            <div class="login-form-message" id="login-message"></div>
                        </div>
                        <button class="login-btn mt-50px"  onclick="login()">Đăng nhập</button>
                    </div>
                    <div class="mt-30px">
                        <div class="login-dontHaveAcc">Bạn chưa có tài khoản? <a href="#" id="signUp">Đăng ký</a></div>
                        <a href="#" class="login-forgotPassword">Quên mật khẩu?</a>
                        <div class="login-with">
                            <a href="#"><img src="/img/google-18px.svg" alt=""></a>
                            <a href="#"><img src="/img/facebook-18px.svg" alt=""></a>
                            <a href="#"><img src="/img/github-18px.svg" alt=""></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="login-content p20-10 d-none">
                <div class="login-header">
                    <a href="#"><img class="login-logo" src="https://accounts.fullstack.edu.vn/assets/icon/f8_icon.png" alt=""></a>
                    <h1 class="login-title m10-0">Đăng ký tài khoản F8</h1>
                </div>
                <div class="login-body">
                    <div class="login-form-body">
                            <div class="login-form-labelGroup">
                                <label class="login-form-labelGroup-left">Tên của bạn</label>
                            </div>
                            <div class="login-form-input">
                                <input type="text" placeholder="Họ và tên của bạn" id="fullName-register">
                            </div>
                            <div class="login-form-labelGroup">
                                <label class="login-form-labelGroup-left">Email</label>
                                <label class="login-form-labelGroup-right">Đăng nhập với SĐT</label>
                            </div>
                            <div class="login-form-input">
                                <input type="email" placeholder="Địa chỉ email" id="email-register">
                            </div>
                            <div class="login-form-input">
                                <input type="password" placeholder="Mật khẩu" id="password-register">
                            </div>
                            <p class="login-form-desc">Gợi ý: Mật khẩu cần có ít nhất 8 kí tự</p>
                            <div class="login-form-confirm">
                                <input class="login-form-confirm-input" type="password" placeholder="Nhập mã xác nhận" id="rePassword-register">
                                <button class="login-form-confirm-btn">Gửi mã</button>
                            </div>
                            <button class="login-btn" onclick="registerUser()" >Đăng ký</button>
                    </div>
                    <div class="login-dontHaveAcc">Bạn đã có tài khoản? <a href="#" id="signIn">Đăng Nhập</a></div>
                </div>
            </div>
            <div class="login-about">
                <a href="#">Giới thiệu về F8</a>
                <span>|</span>
                <a href="#">F8 trên Youtube</a>
                <span>|</span>
                <a href="#">F8 trên Facebook</a>
            </div>
        </div>
    </div>
    <script src="/js/switch.login.js"></script>
</body>