<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F8 - học lập trình để đi làm! | Học lập trình online | Học lập trình Javascript</title>
    <link rel="icon" type="image/x-icon" href="https://fullstack.edu.vn/favicon/favicon_32x32.png">
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/app.css">
</head>

<body>

    {{>headerProfile}}
    {{{body}}}
    {{>footerProfile}}

    <script src="/js/home.js"></script>
        {{#if user}}
    <script>
        let userImg = document.querySelector('#user-img');
        let userMenu = document.querySelector('#user-menu');
        function showUserMenu() {
            if (userImg.classList.contains('hide')) {
                userImg.classList.remove('hide');
                userMenu.classList.remove('d-none');
            } else {
                userImg.classList.add('hide');
                userMenu.classList.add('d-none');
            }
        }
        window.addEventListener(
            'click',
            function (e) {
                userImg.classList.add('hide');
                userMenu.classList.add('d-none');
            },
            true,
        );
    </script>
    {{/if}}
    <script>
        function submitCourses(slug) {
            document.getElementById('form-submit-course-'+slug).submit()
        }
    </script>

</body>

</html>