<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css/app.css">
</head>

<body>
    <div class="nav">
        <div class="nav-logo">
            <a href="#">
                <img class="nav-logo-img"
                    src="https://static.fullstack.edu.vn/static/media/f8-icon.7ad2b161d5e80c87e516.png" alt="">
            </a>
            <h4 class="nav-logo-heading">Học Lập Trình Để Đi Làm</h4>
        </div>
        <div class="d-inline-block w-400px">
            <div class="nav-body">
                <div class="nav-body-search">
                    <a href="#"><i class="fa-solid fa-magnifying-glass nav-body-icon"></i></a>
                </div>
                <input type="text" class="nav-body-input" placeholder="Tìm kiếm khoá học, bài viết, video,...">
            </div>
        </div>
        <div class="nav-action">
            <a href="#" class="nav-action-my-courses">Khoá học của tôi</a>
            <a href="#"><i class="fa-solid fa-bell nav-action-nofi"></i></a>
            <a href="#"><img src="https://static.fullstack.edu.vn/static/media/fallback-avatar.155cdb2376c5d99ea151.jpg"
                    class="nav-action-avatar" alt=""></a>
        </div>
    </div>
    <div class="body" style="display: flex;min-height: 100px;">
        <div class="slider-wrapper">
            <div class="slider">
                    <div class="slider-button">
                        <i class="fa-solid fa-plus slider-icon"></i>
                    </div>
                    <ul class="slider-list">
                        <li><a href="#" class="slider-item"><i class="fa-solid fa-house"></i><span>Home</span></i></a></li>
                        <li><a href="#" class="slider-item"><i class="fa-solid fa-road"></i><span>Lộ trình</span></i></a>
                        </li>
                        <li><a href="#" class="slider-item"><i class="fa-solid fa-lightbulb"></i><span>Học</span></i></a>
                        </li>
                        <li><a href="#" class="slider-item"><i class="fa-solid fa-newspaper"></i><span>Blog</span></i></a>
                        </li>
                    </ul>
            </div>
        </div>
        <div class="content">
            <div class="banner-slider">
                <div class="banner-item">
                    <div class="banner-item-left">
                        <h4 class="banner-heading">
                            Học ReactJSSSS miễn phí!
                        </h4>
                        <p class="banner-desc">
                            Khóa học ReactJS từ cơ bản tới nâng cao. Kết quả của khóa học này là bạn có thể làm hầu
                            hết các dự án thường gặp với ReactJS.
                        </p>
                        <a href="#" class="banner-btn">Đăng ký ngay</a>
                    </div>
                    <div class="slider-item-right">
                        <a href="#"><img src="https://files.fullstack.edu.vn/f8-prod/banners/Banner_web_ReactJS.png"
                                alt="" class="slider-img"></a>
                    </div>
                </div>
                <div class="banner-item">
                    <div class="banner-item-left">
                        <h4 class="banner-heading">
                            Học ReactJS miễn phí!
                        </h4>
                        <p class="banner-desc">
                            Khóa học ReactJS từ cơ bản tới nâng cao. Kết quả của khóa học này là bạn có thể làm hầu
                            hết các dự án thường gặp với ReactJS.
                        </p>
                        <a href="#" class="banner-btn">Đăng ký ngay</a>
                    </div>
                    <div class="slider-item-right">
                        <a href="#"><img src="https://files.fullstack.edu.vn/f8-prod/banners/Banner_04_2.png" alt=""
                                class="slider-img"></a>
                    </div>
                </div>
            </div>
            <div class="section">
                <div class="container">
                    <div class="road-front-end">
                        <div class="section-intro">
                            <a href="#" class="section-heading">Lộ trình học Front-end <span>Mới</span></a>
                            <a href="#" class="section-detail">Xem chi tiết <i class="fa-solid fa-angle-right"></i></a>
                        </div>
                        <div class="section-list">
                            <div class="section-item">
                                <a title="Kiến Thức Nhập Môn IT" href="#" class="section-img">
                                    <button class="section-watch">Xem Khoá học</button>
                                </a>
                                <div class="section-name">Kiến thức nhập môn IT</div>
                                <div class="section-count">
                                    <i class="fa-solid fa-users"></i>
                                    <span>70.000</span>
                                </div>
                            </div>
                            <div class="section-item">
                                <a title="Kiến Thức Nhập Môn IT" href="#" class="section-img">
                                    <button class="section-watch">Xem Khoá học</button>
                                </a>
                                <div class="section-name">Kiến thức nhập môn IT</div>
                                <div class="section-count">
                                    <i class="fa-solid fa-users"></i>
                                    <span>70.000</span>
                                </div>
                            </div>
                            <div class="section-item">
                                <a title="Kiến Thức Nhập Môn IT" href="#" class="section-img">
                                    <button class="section-watch">Xem Khoá học</button>
                                </a>
                                <div class="section-name">Kiến thức nhập môn IT</div>
                                <div class="section-count">
                                    <i class="fa-solid fa-users"></i>
                                    <span>70.000</span>
                                </div>
                            </div>
                            <div class="section-item">
                                <a title="Kiến Thức Nhập Môn IT" href="#" class="section-img">
                                    <button class="section-watch">Xem Khoá học</button>
                                </a>
                                <div class="section-name">Kiến thức nhập môn IT</div>
                                <div class="section-count">
                                    <i class="fa-solid fa-users"></i>
                                    <span>70.000</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="road-back-end">
                        <div class="section-intro">
                            <a href="#" class="section-heading">Lộ trình học Front-end <span>Mới</span></a>
                            <a href="#" class="section-detail">Xem chi tiết <i class="fa-solid fa-angle-right"></i></a>
                        </div>
                        <div class="section-list">
                            <div class="section-item">
                                <a title="Kiến Thức Nhập Môn IT" href="#" class="section-img">
                                    <button class="section-watch">Xem Khoá học</button>
                                </a>
                                <div class="section-name">Kiến thức nhập môn IT</div>
                                <div class="section-count">
                                    <i class="fa-solid fa-users"></i>
                                    <span>70.000</span>
                                </div>
                            </div>
                            <div class="section-item">
                                <a title="Kiến Thức Nhập Môn IT" href="#" class="section-img">
                                    <button class="section-watch">Xem Khoá học</button>
                                </a>
                                <div class="section-name">Kiến thức nhập môn IT</div>
                                <div class="section-count">
                                    <i class="fa-solid fa-users"></i>
                                    <span>70.000</span>
                                </div>
                            </div>
                            <div class="section-item">
                                <a title="Kiến Thức Nhập Môn IT" href="#" class="section-img">
                                    <button class="section-watch">Xem Khoá học</button>
                                </a>
                                <div class="section-name">Kiến thức nhập môn IT</div>
                                <div class="section-count">
                                    <i class="fa-solid fa-users"></i>
                                    <span>70.000</span>
                                </div>
                            </div>
                            <div class="section-item">
                                <a title="Kiến Thức Nhập Môn IT" href="#" class="section-img">
                                    <button class="section-watch">Xem Khoá học</button>
                                </a>
                                <div class="section-name">Kiến thức nhập môn IT</div>
                                <div class="section-count">
                                    <i class="fa-solid fa-users"></i>
                                    <span>70.000</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="road-back-end">
                        <div class="section-intro">
                            <a href="#" class="section-heading">Lộ trình học Front-end <span>Mới</span></a>
                            <a href="#" class="section-detail">Xem chi tiết <i class="fa-solid fa-angle-right"></i></a>
                        </div>
                        <div class="section-list">
                            <div class="section-item">
                                <a title="Kiến Thức Nhập Môn IT" href="#" class="section-img">
                                    <button class="section-watch">Xem Khoá học</button>
                                </a>
                                <div class="section-name">Kiến thức nhập môn IT</div>
                                <div class="section-count">
                                    <i class="fa-solid fa-users"></i>
                                    <span>70.000</span>
                                </div>
                            </div>
                            <div class="section-item">
                                <a title="Kiến Thức Nhập Môn IT" href="#" class="section-img">
                                    <button class="section-watch">Xem Khoá học</button>
                                </a>
                                <div class="section-name">Kiến thức nhập môn IT</div>
                                <div class="section-count">
                                    <i class="fa-solid fa-users"></i>
                                    <span>70.000</span>
                                </div>
                            </div>
                            <div class="section-item">
                                <a title="Kiến Thức Nhập Môn IT" href="#" class="section-img">
                                    <button class="section-watch">Xem Khoá học</button>
                                </a>
                                <div class="section-name">Kiến thức nhập môn IT</div>
                                <div class="section-count">
                                    <i class="fa-solid fa-users"></i>
                                    <span>70.000</span>
                                </div>
                            </div>
                            <div class="section-item">
                                <a title="Kiến Thức Nhập Môn IT" href="#" class="section-img">
                                    <button class="section-watch">Xem Khoá học</button>
                                </a>
                                <div class="section-name">Kiến thức nhập môn IT</div>
                                <div class="section-count">
                                    <i class="fa-solid fa-users"></i>
                                    <span>70.000</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="road-back-end">
                        <div class="section-intro">
                            <a href="#" class="section-heading">Lộ trình học Front-end <span>Mới</span></a>
                            <a href="#" class="section-detail">Xem chi tiết <i class="fa-solid fa-angle-right"></i></a>
                        </div>
                        <div class="section-list">
                            <div class="section-item">
                                <a title="Kiến Thức Nhập Môn IT" href="#" class="section-img">
                                    <button class="section-watch">Xem Khoá học</button>
                                </a>
                                <div class="section-name">Kiến thức nhập môn IT</div>
                                <div class="section-count">
                                    <i class="fa-solid fa-users"></i>
                                    <span>70.000</span>
                                </div>
                            </div>
                            <div class="section-item">
                                <a title="Kiến Thức Nhập Môn IT" href="#" class="section-img">
                                    <button class="section-watch">Xem Khoá học</button>
                                </a>
                                <div class="section-name">Kiến thức nhập môn IT</div>
                                <div class="section-count">
                                    <i class="fa-solid fa-users"></i>
                                    <span>70.000</span>
                                </div>
                            </div>
                            <div class="section-item">
                                <a title="Kiến Thức Nhập Môn IT" href="#" class="section-img">
                                    <button class="section-watch">Xem Khoá học</button>
                                </a>
                                <div class="section-name">Kiến thức nhập môn IT</div>
                                <div class="section-count">
                                    <i class="fa-solid fa-users"></i>
                                    <span>70.000</span>
                                </div>
                            </div>
                            <div class="section-item">
                                <a title="Kiến Thức Nhập Môn IT" href="#" class="section-img">
                                    <button class="section-watch">Xem Khoá học</button>
                                </a>
                                <div class="section-name">Kiến thức nhập môn IT</div>
                                <div class="section-count">
                                    <i class="fa-solid fa-users"></i>
                                    <span>70.000</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="footer">
        Made by Phước&nbsp;<i class="fa-solid fa-heart"></i>
    </div>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="slick.js"></script>

</body>

</html>