<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>F8 - học lập trình để đi làm! | Học lập trình online | Học lập trình Javascript</title>
    <link rel="icon" type="image/x-icon" href="https://fullstack.edu.vn/favicon/favicon_32x32.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css" />
    <link rel="stylesheet" href="/css/app.css">
</head>

<body> 

    {{>headerHome}}
    {{{body}}}
    {{>footerHome}}

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="/js/slick.js"></script>
    <script src="/js/home.js"></script>
    <script src="/js/jquery.easypiechart.js"></script>

    {{#if user}}
    <script>
        let userImg = document.querySelector('#user-img');
        let userMenu = document.querySelector('#user-menu');
        function showUserMenu() {
            if (userImg.classList.contains('hide')) {
                userImg.classList.remove('hide');
                userMenu.classList.remove('d-none');
            } else {
                userImg.classList.add('hide');
                userMenu.classList.add('d-none');
            }
        }
        window.addEventListener(
            'click',
            function (e) {
                userImg.classList.add('hide');
                userMenu.classList.add('d-none');
            },
            true,
        );
    </script>
    {{/if}}

    <script>
        $(function () {
            $('.chart').easyPieChart({
                trackColor: '#D4D4D4',
                barColor:'#F05123',
                scaleLength: 0,
                lineWidth: 2,
                size: 38, 
                animate: {
                duration: 800,
                enabled: true 
                },
                easing: 'easeOutElastic',
                lineCap: 'round'
            });
        });
    </script>

</body>

</html>